@import url('https://fonts.cdnfonts.com/css/george-rounded');

body{
    background-image:url("bg image.jpg") ;
  
}
.main{
    background-image: url("b515b812e6679e9e1b01e9d07d56c89e.jpg");
    height: 550px;
    width: 100%;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

/*Nav sec*/
  
nav{
    width: 1260px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0px ;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

  }
  
  nav .logo{
    width:70px;
    padding-left: 40px;
  }
    
  nav ul li{
    list-style: none;
    display:inline-block;
    margin: 15px;
    
  }
  nav ul li a{
    text-decoration: none;
    color: ghostwhite;
  /*  transition: color 1s, border-bottom: 4s;*/
    font-size: 17px;
  }
  .hoe:hover{
    color: #d2d2d2;
  /*  border-bottom: 1px solid;*/
  /*    padding-bottom: 10px;*/
  
  }
  
  
  
  
  .hoe {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
  
  .hoe::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.7px;
    top: 100%;
    bottom: 0;
    left: 0;
    background-color:#fff;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  
  .hoe:hover::before {
    transform: scaleX(1);
  }
  
  
  
 
  

.look{
    padding-top: 120px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'George Rounded';

}

.wait{
    padding-top:0px;
    text-align: center;
    color:white;
}

.butt{
    padding-top: 40px;
    text-align: center;
    
}
.butt>button{
    background-color: bisque;
    height: 40px;
    width:220px;
    font-size: 15px;
}
.offers{
    background-color: #DAA06D;
    height:550px;
    margin-top: 0px;
    background-image: url("bg image.jpg");
}
.serve{
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 10px;
}

.taskpr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}
.task1{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: white;
    
    border: 0;
    height: 400px;
    width: 33.33%;
    background-image: url("Event-catering-square.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.task1a{
    padding-top:40px;
}
.task1b{
    padding-top:50px;
}
.task2{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    color: white;
    height:400px;
    width:33.33%;
    background-image: url("Wedding-catering-square-1.jpg");
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0px;
    
}
.task1,.task2,.task3{
    margin-top: 10px;
}


.task3{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    color: white;
    height:400px;
    width:33.33%;
    background-image: url("Birthday-Food-Catering-scaled (1).jpg");
    filter:brightness(100%);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.taskkk1{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    color: white;
    height:300px;
    width:250px;
    background-image: url("8044785.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
    margin-left: 20px;
    
}

.taskkk2{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    color: white;
    height:300px;
    width:250px;
    background-image: url("6512474.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
}
.taskkk3{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    color: white;
    height:300px;
    width:250px;
    background-image: url("8509053.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
}
.taskkk4{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    color: white;
    height:300px;
    width:250px;
    background-image: url("4033548.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
}

.hiii2{
    padding-top: 200px;
    text-align: center;
    font-size: 10px;
}

.formmm{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;}
        
    


.form{
    line-height: 85px;
    box-sizing: border-box;
    display:inline-block;
    text-align:left;
    padding-top: 10px;
    padding-left: 60px;
    
     width: 400px;
    height: 200px;    
}

.formog{
    width: 600px;
    display:inline-block;
    padding-top:80px;
    padding-left:100px;
    margin-top:0px;
}

.tabs{
    padding: 18.5px 14px;
    background-color: #eee;
    width: 400px; 
    margin-top: 10px;
    border:0px;
}

#fun{
    color: black;
}

.form h1{
    margin-bottom: 0px;

}

.form h2{
    margin-top: 0px;
    height: 40px;
}