*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;


}

body{
    background-image: url(https://i.pinimg.com/564x/45/07/91/450791000eba5bd0591840293157b1ea.jpg);
    background-repeat: inherit;
    display: grid;
    
    
}
body>h1,.main{
    background-color: bisque;
    text-align: center; 
    letter-spacing: 2px;
    padding: 10px 20px;
}
.pic{
  width: 600px;
  height: 600px;
}

nav{
    width: 100%;
    position: absolute;
    padding-top: 10px;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li{
    list-style: none;
    display:inline-block;
    margin: 20px;
   
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    display: inline-block;
    
  
  }
  .navbar ul li {
    font-weight: bold;
    font-size: 20px;
    background-color: bisque;
  }
  .menu2 img{
    position: relative;
    width: 50%;
    border-radius: 15px 15px 0 0 ;
    height: auto;
    margin-left: 700px;
    display: flex;

  } 
  .menu1 img{
    position: relative;
    width: 50%;
    border-radius: 15px 15px 0 0 ;
    height: 80%;
    margin-left: 20px;
    display: flex;
    
  }
  .content{
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    text-emphasis-style: bold;
    letter-spacing: 10px;
  }
  .starters{
    margin-top: 70px;
  }
  .h-icons{
    color: black;

  }
  .sec1 {
    display: flex;
    
    font-size: 40px;
    font-weight: 600;
    float:right;
    margin-right: 20px;
  

    
  }

  .img1{
    display: flex;
  }
  
  .sec2{
    display: flex;
    
    font-size: 40px;
    font-weight: 600;
    float: left;
    }
  

  .mn1{
    flex-wrap: wrap;
  }
