html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


nav {
    display: flex;
    justify-content: space-evenly;

}

body {
    background-color: #56819a;
}


ul li {
    display: inline;
    margin: 0;
    padding: 0;
    z-index: 1;
    justify-content: space-evenly;

}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;

}


.xmas {
    height: 100vh;
    width: 100%;

    background-image: url(https://images.unsplash.com/photo-1588416820614-f8d6ac6cea56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-origin: content-box;
    background: opacity(0.2);
    background-size: contain;

}

.menu h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 10px;

}

.pic1 {
    display: flex;
    height: 350px;
    width: 100%;

}

.tag h2 {

    margin: 20px;
    font-size: 40px;
    font-weight: 600;

    text-align: center;

    color: white;
    float: right;
}

.pic1 {
    background-color: #284b60;
}

.pic1 img {
    margin-top: 30px;
    border-radius: 50%;
    width: 30%;
    height: 40vh;
    margin-left: 10px;
}

.pic1 p {
    font-display: flex;
    padding-left: 40px;
    text-align: center;
    margin-top: 80px;
    margin-left: 60px;

}

.pic1 ul li {

    display: block;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    padding-top: 20px;
}